<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matrix.grouppurchase"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.purchase.activity.FirstActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTitleBarStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.purchase.activity.NinePostageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTitleBarStyle" >

            <!--
                  <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.alibaba.sdk.android.trade.ui.TradeWebViewActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.purchase.activity.DressActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.purchase.activity.DressWebView"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTitleBarStyle" >
        </activity>
        <activity
            android:name="com.purchase.activity.TaoBaoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.purchase.activity.TaoBaoItemActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.purchase.activity.AiTaoBaoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.purchase.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.purchase.activity.DiscountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTitleBarStyle" >
        </activity>
    </application>

</manifest>